.dropdown#amenity
    .dropdown__button
        .dropdown__text Что надо?    
        .dropdown__arrow keyboard_arrow_down
    .dropdown__list
        .dropdown__item 
            .dropdown__name Спальни
            .dropdown__circle.minus -
            .dropdown__count 2
            .dropdown__circle.plus +
        .dropdown__item 
            .dropdown__name Кровати
            .dropdown__circle.minus -
            .dropdown__count 3
            .dropdown__circle.plus +
        .dropdown__item 
            .dropdown__name Ванные комнаты
            .dropdown__circle_inactive.minus -
            .dropdown__count 0
            .dropdown__circle.plus +