// Пример под миксином. 
mixin footer-bottom(options)
    -
        var classes = 'footer-bottom'
        classes += options.addAnyClass ? ' ' + options.addAnyClass : ''

    div(class=classes)
        .footer-bottom__content
            .footer-bottom__text= options.text
            .footer-bottom__social
                for image in options.listImage
                    img(src=image.path, alt=image.name)

+footer-bottom({
        addAnyClass: false,
        text: 'Copyright © 2018 Toxin отель. Все права зачищены.',
        listImage: [
            {
                path: 'img/twiter.svg',
                name: 'twiter'
            },
            {
                path: 'img/facebook.svg',
                name: 'facebook'
            },
            {
                path: 'img/instagram.svg',
                name: 'instagram'
            }
        ]
    })