div.footer-bottom
    div.footer-bottom__content
        div.footer-bottom__text Copyright © 2018 Toxin отель. Все права зачищены. 
        div.footer-bottom__social
            img(src="img/twiter.svg", alt="")
            img(src="img/facebook.svg", alt="")
            img(src="img/instagram.svg", alt="")