div.feedback-record 
    div.feedback-record__left
        div.feedback-record__image
        +like-button(true, 12)
    div.feedback-record__right
        div.feedback-record__author
            div.title_small Мурад Сарафанов
            div.simple-text 5 дней назад
        div.simple-text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.