div.feedback-record 
    div.feedback-record__top
        img(src="img/dd43be.png", alt="icon")
        div.feedback-record__author
            div.feedback-record__title Мурад Сарафанов
            div.simple-text 5 дней назад
    div.feedback-record__bottom
        div.feedback-record__like
            +like-button(true, 12)
        div.simple-text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
