//- include ../../components/rate-button/rate-button
//- include ../../components/like-button/like-button
include ../../components/toggle/toggle
include ../../components/feedback-record/feedback-record

//- +toggle({mode: 'min', element: 'footer', state: true})
+toggle()