@font-face
    font-family: 'Quicksand'
    src: url('fonts/Quicksand/Quicksand-VariableFont_wght.ttf')
    font-weight: normal
    font-size: normal

@font-face
    font-family: 'Montserrat'
    src: url('fonts/Montserrat/Montserrat-Bold.ttf')
    font-weight: bold
    font-size: normal

@font-face
    font-family: 'Montserrat'
    src: url('fonts/Montserrat/Montserrat-Light.ttf')
    font-weight: normal
    font-size: normal

@font-face 
  font-family: 'Material Icons'
  src: url('fonts/MaterialIcons-Regular/MaterialIcons-Regular.ttf')
  font-style: normal
  font-weight: normal
  